
h1 {
font-family: lobster two;
font-style: normal;
  font-size: 100px;
  text-align: center;
  color: #000000
}

p {
  font-size: 20px;
  color: #000000;
  text-align: center;
}

body {
    background-color: White;
}

.main-picture {
	width: 1000px;
	height: 662px;
}

.main-picture-div {
	text-align: center;
}

.description {
	font-family: lobster two;
	font-style: normal;
  font-size: 50px;
  text-align: center;
  color: #000000
}

ul .social {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;

}

ul .nav {
	list-style-type: none;
    margin: 0px;
    padding: 0px;

}

ul.nav > li {
	padding: 65px;
  text-decoration: none;
}


.nav {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}