
h1 {
font-family: lobster two;
font-style: normal;
  font-size: 100px;
  text-align: center;
  color: #000000
}

p {
  font-size: 20px;
  color: #FFFFFF;
}

.white {
	color: #FFFFFF;
}
.red {
  color: #FF0000;
}

.blue {
  color: #0000FF;
}


.myclass2 {
	font-size: 30px;
	color: #000000;
}

.myclass3 {
	font-size: 30px;
	color: #000000;
}

.myclass4 {
  font-size: 30px;
  color: #000000;
}

.myclass5 {
	font-size: 30px;
	color: #000000;
}

.myclass6 {
	font-size: 30px;
	color: #000000;
}

.myclass7 {
	font-size: 30px;
	color: #000000;
}

body {
    background-color: White;
}

.main-picture {
	width: 1000;
	height: 540px;

}